<<<<<<< HEAD
  .profile{
    color: black;
    width: 600px;
    height: 350px;
    padding :15px;
    border: 3px solid lightgrey;
    border-radius: 20px;
    margin: 500px auto;
    position: relative;
    }
    .profile-img{
    width: 100%;
    position: absolute;
    margin: -16px -315px;
    border-radius: 12px;
    }
    .profile-header{
    text-align: center;
    }
    .user{
    height: 100px;
    width: 100px;
    position: absolute;
    bottom: 0;
    left:30px;
    border-radius: 50%;
    border: 2px solid white;
    margin: 170px 240px;
    }
    .name{
    text-align: center;
    font-size: 60px;
    width: 500px;
    margin: 200px 70px;
    position: absolute;
    }
    .desc{
    text-align: center;
    color: grey;
    font-size: 20px;
    font-weight: 700;
    position: absolute;
    margin: 300px 160px;
=======
  .profile{
    color: black;
    width: 600px;
    height: 350px;
    padding :15px;
    border: 3px solid lightgrey;
    border-radius: 20px;
    margin: 500px auto;
    position: relative;
    }
    .profile-img{
    width: 100%;
    position: absolute;
    margin: -16px -315px;
    border-radius: 12px;
    }
    .profile-header{
    text-align: center;
    }
    .user{
    height: 100px;
    width: 100px;
    position: absolute;
    bottom: 0;
    left:30px;
    border-radius: 50%;
    border: 2px solid white;
    margin: 170px 240px;
    }
    .name{
    text-align: center;
    font-size: 60px;
    width: 500px;
    margin: 200px 70px;
    position: absolute;
    }
    .desc{
    text-align: center;
    color: grey;
    font-size: 20px;
    font-weight: 700;
    position: absolute;
    margin: 300px 160px;
>>>>>>> 5721955bb18c9c41e52725ea3f42f806c74b5446
}