    .zomato{
    text-align:center;
    width: 1000px;
    height: 50px;
    padding: 10px 26px;
    margin: 100px auto;
    position: relative;
    }
    .zomato-img{
    width: 100%;
    }
    .zomato-header{
    color: white;
    font-style: italic;
    font-weight:600;
    font-size: 100px;
    position: absolute;
    margin: -380px 270px;
    }
    .zomato-content{
    color: white;
    font-style: italic;
    font-weight:600;
    font-size: 20px;
    position: absolute;
    margin: -250px 245px;
    }
    input{
    width: 600px;
    position: absolute;
    margin: 250px -800px;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 12px;
    border: 1px solid lightgray;
    font-size: 16px;
    }
    